/*фон картинка*/
body {
    background-image: url(fon.jpg);
}


/*регистрация, вход, выход*/
.authorization {
    margin-left: 800px;
    margin-top: 300px;
    list-style-type: none;
    width: 430px;
    color: #fff;
}

.authorization a {
    color: #fff;
}


.registration {
    margin-left: 800px;
    margin-top: 220px;
    list-style-type: none;
    width: 190px;
    color: #fff;
}


.login {
    margin-left: 800px;
    margin-top: 250px;
    list-style-type: none;
    width: 150px;
    color: #fff;
}


/*левая панель*/
.aside_left {
    float: left;
    width: 12%;
    padding: 1%;
    height: 100vh;
    border-right: 1px solid #fff;
    position: fixed;
    bottom: 0;
}

.aside_left ul a {
    display: block;
    box-sizing: border-box;
    padding: 8px;
    text-decoration: none;
    color: #fff;
}

.aside_left .add_task {
    margin-left: 35px;
    margin-top: 50px;
}


/*правая панель*/
.aside_right {
    position: fixed;
    bottom: 0;
    margin: 0 90%;
    width: 12%;
    padding: 1.5%;
    height: 100vh;
    border-left: 1px solid #fff;
    color: #fff;
}

.aside_right a {
    color: #fff;
}


/*Данные на гл. странице*/
.alert-success {
    color: #fff;
    clear: both;
    width: 500px;
    margin: 20px 14%;
    text-align: left;
    font-size: 15px;
}
