/*фон картинка*/
body {
    background-image: url(fon.jpg);
}


/*регистрация, вход, выход*/
.authorization {
    margin-left: 800px;
    margin-top: 300px;
    list-style-type: none;
    width: 430px;
    color: #fff;
}

.authorization a {
    color: #fff;
}


.registration {
    margin-left: 800px;
    margin-top: 70px;
    list-style-type: none;
    width: 190px;
    color: #fff;
}


.login {
    margin-left: 800px;
    margin-top: 250px;
    list-style-type: none;
    width: 150px;
    color: #fff;
}


/*левая панель*/
.aside_left {
    float: left;
    width: 12%;
    padding: 1%;
    height: 100vh;
    border-right: 1px solid #fff;
    position: fixed;
    bottom: 0;
}

.aside_left ul a {
    display: block;
    box-sizing: border-box;
    padding: 8px;
    text-decoration: none;
    color: #fff;
}

.aside_left .add_task {
    margin-left: 35px;
    margin-top: 50px;
}

.aside_left .btn-success {
    margin-top: 80px;
}


/*правая панель*/
.aside_right {
    position: fixed;
    bottom: 0;
    margin: 0 90%;
    width: 12%;
    padding: 1.5%;
    height: 100vh;
    border-left: 1px solid #fff;
    color: #fff;
}

.aside_right a {
    color: #fff;
}


/*Данные на гл. странице*/
.alert-success {
    color: #fff;
    clear: both;
    width: auto;
    word-wrap: break-word;
    margin: 20px 14%;
    text-align: left;
    font-size: 15px;
}

.alert-success .btn-primary{
    margin-top: 30px;
}


/*Сотрудники*/
.alert-warning {
    color: #fff;
    clear: both;
    width: 380px;
    margin: 20px 14%;
    text-align: left;
    font-size: 15px;
}


/*Форма добавления задачи*/
.add_task_form {
    width: 900px;
    margin-left: 150px;
    margin-top: 15px;
    resize: none;
}

.add_task_form .btn-warning{
    margin-top: 15px;
    margin-left: 150px;
    width: 400px;
    position: fixed;
}

.error {
    width: 400px;
    padding: 100px;
    font-size: 20px;
    color: #fff;
}


/*Отображение отдельной задачи на новой странице*/
.alert-info {
    color: #fff;
    width: auto;
    word-wrap: break-word;
    margin: 20px 14%;
    text-align: left;
    font-size: 10px;
}

.alert-info h5{
    font-size: 15px;
}

.alert-info .btn-warning{
    margin-top: 30px;
}

.alert-info .btn-danger{
    margin-top: 30px;
    margin-left: 10px;
}


/*Удаление задачи*/
.delete_task .alert-warning {
    width: 600px;
    margin: 20px 14%;
    text-align: left;
    font-size: 10px;
}

.delete_task button {
    width: 250px;
    margin-top: 30px;
}


/*Добавление комментария*/
.add_comment_form {
    resize: none;
    width: 500px;
    height: 120px;
    word-wrap: break-word;
}