{% extends 'planner/base.html' %}

{% block title %}Планировщик{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!--Добавление новой задачи-->
<form class="add_task_form" method="post">
    <div>
        {% csrf_token %}
        {{ form.description }}
        {{ form.start_date }}
        {{ form.end_date }}
        {{ form.priority }}
        {{ form.user }}
        <button class="btn btn-warning" type="submit">Добавить задачу</button>
        <div class="error">
            {{ error }}
        </div>
    </div>
</form>
<!--Левая панель-->
<div class="aside_left">
    <aside>
    <ul class="plans">
        <a href="{% url 'all_tasks' %}"><i class="bi bi-bookmarks-fill"></i> Все задачи<br></a>
        <a href="{% url 'persons' %}"><i class="bi bi-person"></i> Сотрудники<br></a>
        <a href="{% url 'new_task' %}" class="btn btn-success">Создать задачу</a>
    </ul>
    </aside>
</div>
<!--Правая панель-->
<div class="aside_right">
    <aside>
        <div class="logout">
            Привет, {{ user.username }}!
            <p><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
    </aside>
</div>
{% else %}
    <div class="authorization">
        <p>Добро пожаловать!<br>Войдите или зарегистрируйтесь, для работы в приложении!</p>
        <a href="{% url 'login' %}">Войти</a> |
        <a href="{% url 'signup' %}">Регистрация</a>
    </div>
{% endif %}
{% endblock %}