{% extends 'planner/base.html' %}

{% block title %}Планировщик{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!--Сотрудники-->
{% for i in users %}
    <div class="alert alert-warning">
        Имя пользователя: {{ i.username }}<br>
        Имя: {{ i.first_name }}<br>
        Фамилия: {{ i.last_name }}<br>
        Почта: {{ i.email }}<br>
        Специальность: {{ i.group }}<br>
        Дата регистрации: {{ i.date_joined }}<br>
        Последний вход: {{ i.last_login }}<br>
    </div>
{% endfor %}
<!--Левая панель-->
<div class="aside_left">
    <aside>
    <ul class="plans">
        <a href="{% url 'all_tasks' %}"><i class="bi bi-bookmarks-fill"></i> Все задачи<br></a>
        <a href="{% url 'persons' %}"><i class="bi bi-person"></i> Сотрудники<br></a>
        <a href="{% url 'new_task' %}" class="btn btn-success">Создать задачу</a>
    </ul>
    </aside>
</div>
<!--Правая панель-->
<div class="aside_right">
    <aside>
        <div class="logout">
            Привет, {{ user.username }}!
            <p><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
    </aside>
</div>
{% else %}
    <div class="authorization">
        <p>Добро пожаловать!<br>Войдите или зарегистрируйтесь, для работы в приложении!</p>
        <a href="{% url 'login' %}">Войти</a> |
        <a href="{% url 'signup' %}">Регистрация</a>
    </div>
{% endif %}
{% endblock %}