{% extends 'planner/base.html' %}

{% block title %}Планировщик{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!--Добавить комментарии-->
{% for i in comment %}
    <div class="alert alert-success">
        Комментарий: {{i.text}}<br>
        От пользователя: {{i.user}}<br>
        Создан: {{i.created}}<br>
    </div>
{% endfor %}
<div class="alert alert-success">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button  type="submit" class="btn btn-danger">Добавить комментарий</button>
    </form>
</div>
<!--Левая панель-->
<div class="aside_left">
    <aside>
    <ul class="plans">
        <a href="{% url 'all_tasks' %}"><i class="bi bi-bookmarks-fill"></i> Все задачи<br></a>
        <a href="{% url 'persons' %}"><i class="bi bi-person"></i> Сотрудники<br></a>
        <a href="{% url 'new_task' %}" class="btn btn-success">Создать задачу</a>
    </ul>
    </aside>
</div>
<!--Правая панель-->
<div class="aside_right">
    <aside>
        <div class="logout">
            Привет, {{ user.username }}!
            <p><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
    </aside>
</div>
{% else %}
    <div class="authorization">
        <p>Добро пожаловать!<br>Войдите или зарегистрируйтесь, для работы в приложении!</p>
        <a href="{% url 'login' %}">Войти</a> |
        <a href="{% url 'signup' %}">Регистрация</a>
    </div>
{% endif %}
{% endblock %}