{% extends 'planner/base.html' %}

{% block title %}Планировщик{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!--Удаление задачи-->
<div class="delete_task">
    <div class="alert alert-success">
        <h5>Вы точно хотите удалить эту задачу?</h5>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Удалить</button>
        </form>
    </div>
</div>
<!--Левая панель-->
<div class="aside_left">
    <aside>
    <ul class="plans">
        <a href="{% url 'all_tasks' %}"><i class="bi bi-bookmarks-fill"></i> Все задачи<br></a>
        <a href="{% url 'persons' %}"><i class="bi bi-person"></i> Сотрудники<br></a>
        <a href="{% url 'new_task' %}" class="btn btn-success">Создать задачу</a>
    </ul>
    </aside>
</div>
<!--Правая панель-->
<div class="aside_right">
    <aside>
        <div class="logout">
            Привет, {{ user.username }}!
            <p><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
    </aside>
</div>
{% else %}
    <div class="authorization">
        <p>Добро пожаловать!<br>Войдите или зарегистрируйтесь, для работы в приложении!</p>
        <a href="{% url 'login' %}">Войти</a> |
        <a href="{% url 'signup' %}">Регистрация</a>
    </div>
{% endif %}
{% endblock %}