{% extends 'planner/base.html' %}

{% block title %}{{ detail.description }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!--Редактирование задачи-->
<div class="alert alert-info">
    <h5>Описание задачи: {{ detail.description }}</h5>
    <h5>Дата старта: {{ detail.start_date }}</h5>
    <h5>Дата завершения: {{ detail.end_date }}</h5>
    <h5>Приоритет выполнения: {{ detail.priority }}</h5>
    <h5>На выполнении у: {{ detail.user }}</h5>
    <a href="{% url 'task_update' detail.id %}" class="btn btn-warning">Редактировать</a>
    <a href="{% url 'task_delete' detail.id %}" class="btn btn-danger">Удалить задачу</a>
</div>
<!--Левая панель-->
<div class="aside_left">
    <aside>
    <ul class="plans">
        <a href="{% url 'all_tasks' %}"><i class="bi bi-bookmarks-fill"></i> Все задачи<br></a>
        <a href="{% url 'persons' %}"><i class="bi bi-person"></i> Сотрудники<br></a>
        <a href="{% url 'new_task' %}" class="btn btn-success">Создать задачу</a>
    </ul>
    </aside>
</div>
<!--Правая панель-->
<div class="aside_right">
    <aside>
        <div class="logout">
            Привет, {{ user.username }}!
            <p><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
    </aside>
</div>
{% else %}
    <div class="authorization">
        <p>Добро пожаловать!<br>Войдите или зарегистрируйтесь, для работы в приложении!</p>
        <a href="{% url 'login' %}">Войти</a> |
        <a href="{% url 'signup' %}">Регистрация</a>
    </div>
{% endif %}
{% endblock %}

